* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.upper {
  background: url("./assets//images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}

.header__nav {
  display: flex;
}
.navbar-toggler {
  width: 5rem;
  height: 5rem;
  border: 1px solid #fff;
}
.logo {
  width: 18rem;
  height: 4rem;
}
.header__nav-container {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
}
.header__nav-list {
  list-style: none;
  display: flex;
  height: 100%;
}
.header__nav-item {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  line-height: 3.2rem;
  padding: 0 1.5rem;
}
.header__nav-item--selected {
  font-weight: 600;
  border-bottom: 2px solid #1c93c7;
}
.compare {
  display: flex;
  border-bottom: 1px solid rgba(194, 194, 194, 0.3);
}
.compare__main {
  width: 100%;
  padding: 18.5rem 0;
}
.compare-btn {
  display: flex;
  align-items: center;
  padding: 1.35rem 5.5rem;
}
.compare-btn__text {
  font-weight: 500;
  font-size: 1.6rem;
  margin-left: 0.35rem;
}
.compare__search-wrapper {
  width: 100%;
}
.compare__search-field {
  display: flex;
  align-items: center;
  height: 6.5rem;
  background-color: #1c2e39;
  border-radius: 1.2rem;
}
.search-field__coin-img {
  height: 3.8rem;
  width: 3.8rem;
  margin-left: 2.5rem;
}
.search-field__coin-shortname {
  font-size: 2.2rem;
  color: rgb(245, 245, 245);
  margin-left: 2.5rem;
}
.search-field__coin-fullname {
  font-size: 1.8rem;
  color: rgb(173, 173, 173);
  margin-left: 2.5rem;
}
.search-field__input {
  height: 100%;
  flex: 1 1 0%;
  background-color: transparent;
  border: 0;
  margin: 2rem;
}
.search-field__input:focus {
  outline: none;
}
.search-field__input::placeholder {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(194, 194, 194);
}
.search-field__icon {
  height: 2rem;
  width: 2rem;
  margin-right: 3rem;
}
/* compare-btn  */
.compare__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.compare-btn {
  border-radius: 1rem;
}
.compare-btn__icon {
  height: 2rem;
  width: 1.8rem;
}
/* _________________________________________________ */
.information {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
}
.information-section {
  /* width: 50%; */
  padding-right: 2rem;
}
.section-title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
/* ______________________Reusable-List______________________ */
.list {
  padding-right: 2.5rem;
}
.list::-webkit-scrollbar {
  width: 0.5rem;
}
.list::-webkit-scrollbar-thumb {
  background-color: #1c2e39;
}
.list::-webkit-scrollbar-corner {
  display: none;
}
.list-item {
  width: 100%;
  margin-bottom: 12px;
}
.list-item__content {
  display: flex;
  background-color: #1c2e39;
  width: 100%;
  border-radius: 12px;
}
.list {
  height: 60rem;
  overflow: scroll;
}
/* _________________________Compare________________________ */
.compare-list__coin-item {
  display: flex;
}
.coin-item__index {
  color: rgb(245, 245, 245, 0.6);
  font-size: 2rem;
  font-weight: 600;
  margin-right: 2rem;
  margin-left: 1rem;
}
.coin-item__coin-info {
  display: flex;
  width: 50%;
  margin: 1.6rem 0px;
}
.coin-item__coin-info--left {
  border-right: 1px solid rgb(245, 245, 245, 0.2);
}
.coin-item__coin-img > img {
  height: 4rem;
  width: 4rem;
  margin: 0 1.4rem;
}

.coin-item__coin-detail {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1.5rem;
  color: rgb(245, 245, 245, 0.6);
}
.coin-item__short-name {
  color: rgb(245, 245, 245);
  font-size: 1.8rem;
  font-weight: 600;
}
.coin-item__full-name {
  font-weight: 400;
}
.coin-item__badge {
  position: absolute;
  top: 0.5rem;
  left: 6rem;
}
.coin-item__value {
  margin-top: 1rem;
}

/* _________________________Research________________________ */

.research-item__content {
  padding: 1.6rem;
}
.research-item__detail {
  width: 100%;
  position: relative;
}
.research-item__img {
  display: flex;
  background-position: center;
  min-width: 10rem;
  height: 10rem;
  border-radius: 1.6rem;
  margin-right: 1.5rem;
}
.research-item__img-1 {
  background: url("./assets/images/research-1.png");
}
.research-item__title {
  display: block;
  color: rgb(245, 245, 245);
  font-weight: 600;
  font-size: 1.8rem;
}
.research-item__description {
  display: block;
  color: rgb(194, 194, 194);
  font-size: 1.5rem;
  margin-top: 1rem;
}
.research-item__time {
  display: block;
  color: rgba(194, 194, 194, 0.6);
  font-size: 1.6rem;
  margin-top: 3rem;
}
.research-item__coin-icons {
  position: absolute;
  top: 0;
  right: 0;
}
.research-item__coin-wrapper {
  position: relative;
}
.research-item__coin-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.reseach-item__coin-img--first {
  position: absolute;
  right: 2.5rem;
}
/* _________________________Footer________________________ */
.footer {
  padding: 8.5rem 10rem;
  background-color: rgb(24, 24, 24);
  color: rgb(194, 194, 194);
}
.footer__description {
  display: block;
  font-size: 1.4rem;
  margin-top: 2.6rem;
}
.footer__community-text {
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.footer__community-icon {
  margin-right: 2rem;
}
.footer__nav-section {
  /* display: flex; */
  /* justify-content: flex-end; */
  flex-direction: column;
}
.footer__nav-title {
  display: block;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}
.footer__nav-item {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.footer__terms {
  margin-top: 8rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(194, 194, 194, 0.3);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 31.25%;
  }
  .compare__search-field {
    margin-bottom: 4rem;
  }
  .footer__nav-section {
    margin-top: 4rem;
  }
  .research {
    margin-bottom: 4rem;
  }
}
